@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div>
    <h2>Welcome!</h2>
    
    <div class="container">
      @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { returnUrl = Context.Request.Query["ReturnUrl"] })) {
        <div>
          <label for="Email">Email:</label><br>
          @Html.TextBox("Email")<br>
        </div>
        <div>
          <label for="Password">Password:</label><br>
          @Html.Password("Password")<br>
        </div>
        <input type="submit" value="Login">
      }
    </div>
    <link rel="stylesheet" type="text/css" href="~/css/login.css"/>
</div>