    @model IEnumerable<pb_projekt.Models.Hangar>

    @{
        ViewData["Title"] = "Hangars";
    }

    <h2>Hangars</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Available Space</th>
                <th>Loaded Crates</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hangar in Model)
            {
                    <tr>
                        <td>@hangar.AvailableSpace</td>
                        <td>@hangar.LoadedCrates</td>
                        <td>
                            <a asp-controller="Hangars" asp-action="Cargo" asp-route-id="@hangar.Id">View Cargo</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
