@model IEnumerable<pb_projekt.Models.Hangar>

@{
    ViewData["Title"] = "Hangars";
}

<h2 class="header-text">Hangars</h2>

<table class="primary">
    <thead>
        <tr>
            <th>Available Space</th>
            <th>Total Cargo Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hangar in Model)
        {
            var totalCargoCount = hangar.Cargoes.Count + hangar.LandShipments.Sum(ls => ls.Cargoes.Count);

                <tr>
                    <td>@hangar.AvailableSpace</td>
                    <td>@totalCargoCount</td>
                    <td>
                        <a href="@Url.Action("Cargo", "Hangars", new { id = hangar.Id })" style="text-decoration: none; color: blue;">View Cargo</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
