@model IEnumerable<pb_projekt.Models.LandShipment>

@{
    ViewData["Title"] = "Land Shipments";
}

<h2 class="header-text">Land Shipments</h2>

<table class="primary">
    <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var landShipment in Model)
        {
                    <tr>
                        <td>@landShipment.Id</td>
                        <td>
                            <a href="@Url.Action("Cargo", "LandShipments", new { id = landShipment.Id })" style="text-decoration: none; color: blue;">View Cargo</a>
                        </td>
                    </tr>
        }
    </tbody>
</table>
